.heading {
	font-size: 32px;
	color: @blueheading;
	margin: 0 0 9px;
	font-weight: 700;
	
	@media (min-width: 768px) {
		font-size: 42px;
		margin: 0 0 19px;					
	}	
}

.heading--medium {
	line-height: 28px;
	font-size: 24px;
	margin: 29px 0 17px;
	color: #000;
}

.heading--resume-desc {
	// margin-bottom: 24px;
	margin-bottom: 0;
	font-weight: 400;
	
	.heading--user-name {
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	color: #000;
	}
}

